<h1>Edit {{lesson.topic}}</h1>

<form action="/lessons/edit" method="POST">
    <div class="input-field">
        <input id="topic" name="topic" type="text" class="validate" required value="{{lesson.topic}}">
        <label for="topic">Lesson topic</label>
        <span class="helper-text" data-error="Enter lesson topic" data-success="right"></span>
    </div>
    <div class="input-field">
        <input id="teacherName" name="teacherName" type="text" class="validate" required value="{{lesson.teacherName}}">
        <label for="teacherName">Teacher name</label>
        <span class="helper-text" data-error="Enter teacher name" data-success="right"></span>
    </div>
    <div class="input-field">
        <input id="group" name="group" type="text" class="validate" required value="{{lesson.group}}">
        <label for="group">Group</label>
        <span class="helper-text" data-error="Enter group" data-success="right"></span>
    </div>
    <div class="input-field">
        <input id="classroom" name="classroom" type="number" class="validate" required value="{{lesson.classroom}}">
        <label for="classroom">Classroom</label>
        <span class="helper-text" data-error="Enter classroom" data-success="right"></span>
    </div>
    <div class="input-field">
        <input id="dateStart" name="dateStart" type="text" class="validate" required value="{{lesson.dateStart}}">
        <label for="dateStart">Start date of the lesson</label>
        <span class="helper-text" data-error="Enter start date of the lesson" data-success="right"></span>
    </div>
    <div class="input-field">
        <input id="dateEnd" name="dateEnd" type="text" class="validate" required value="{{lesson.dateEnd}}">
        <label for="dateEnd">End date of the lesson</label>
        <span class="helper-text" data-error="Enter end date of the lesson" data-success="right"></span>
    </div>

    <input type="hidden" name="id" value="{{lesson.id}}">
    <button class="btn btn-primary">Edit Lesson</button>
</form>
